.membresia h1 {
    margin-top: 6rem;
}

/* Planes - membresia */
.planes{
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: white;
    text-align: center;
    border-radius: 30px;
    height: 45vh;
    width:30vh;
    margin-top: 2rem;
    h4 {
        display: flex;
        justify-content: center;
        background-color: crimson;
        font-size: 1.5rem;    
    }
    h3 {
        font-weight: 500;
    }
}
.planLista ul {
    padding-left: 0rem;
    li {
        font-weight: 400;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 2rem;
        margin: 1rem;
    }
}
.btnMembresia{   
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: 3px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: crimson;
}
/* Pagos-membresia */
.pagos {
    display: flex;
    justify-content: center;
    background-color: crimson;
    margin-top: 2rem;
}
/* MEDIAQUERY- MEMBRESIA */
@media (min-width: 768px){
    .membresia h2{
        color:crimson;
        margin-top: 6rem;
    }
    .membresia .contenedor{
        display: flex;
        justify-content: center;
        flex-direction: column;       
        width: 40%;
         
    }
    /* Planes- membresia */
    .planes{
        margin: 1rem;
        height: 45vh;
        width: 30vh;
        ul {
            padding-left: 0px;
        }
    }
    .btnMembresia{   
        font-size: 1.5rem;
        font-weight: bold;
        margin: 3rem;
        margin-top: 0rem;
        padding: 1rem 1rem;
        border-radius: 1rem;
        border: 3px solid rgba(0,0,0,0.3);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        color: white;
        background-color: crimson;
        &:hover {
            background-color: rgb(156, 1, 32);
        }
    }
}
@media (min-width: 1024px){
    
    .membresia h2{
        color:crimson;
        margin-top: 6rem;
    }
    .membresia .contenedor{
        display: flex;
        justify-content: center;
        flex-direction: row;       
        width: 40%;
         
    }
    /* Planes- membresia */
    .planes{
        display: flex;
        flex-direction: column;
        background-color: grey;
        color: white;
        text-align: center;
        border-radius: 30px;
        height: 50%;
        width:70%;
        margin-top: 2rem;
        h4 {
            display: flex;
            justify-content: center;
            background-color: crimson;
            font-size: 1.5rem;    
        }
        h3 {
            font-weight: 500;
        }
    }
    .btnMembresia{   
        font-size: 1.5rem;
        font-weight: bold;
        margin: 3rem;
        margin-top: 0rem;
        padding: 1rem;
        border-radius: 1rem;
        border: 3px solid rgba(0,0,0,0.3);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        color: white;
        background-color: crimson;
        &:hover {
            background-color: rgb(156, 1, 32);
        }
    }
}